* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #345ff6;
    --gunmetal: #253347;
    --dark-electric-blue: #5e6e85;
    --borders: #d8e2e7;
    --white: #fff;
}

@font-face {
    font-family: 'inter-regular';
    src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'inter-semibold';
    src: url('./assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
}

body {
    color: var(--white);
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    flex-wrap: wrap;
}

nav .logo {
    color: rgb(70, 70, 70);
    margin-left: 10%;
    transition: all ease 0.5s;
}

nav .logo h1 {
    font-size: 35px;
    font-weight: 800;
    transition: all ease 0.1s;
}

nav .logo:hover {
    transform: translate(0%, -20%);
}

nav ul {
    color: rgb(70, 70, 70);
    display: flex;
}

nav ul li {
    list-style: none;
    font-size: 25px;
    font-weight: 500;
    margin-left: 15px;
    position: relative;
    transition: all ease 0.5s;
}

nav ul li::after {
    content: "";
    left: -2;
    top: 32px;
    right: 0;
    width: 0;
    height: 3px;
    background: var(--gunmetal);
    position: absolute;
    bottom: -10px;
    transition: all ease 0.5;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li:hover {
    transform: translate(0%, -10%);
}

nav .ex {
    margin-right: 10%;
    display: flex;
}

nav .ex a {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    font-family: serif;
    font-weight: 800;
    text-decoration: none;
    background-color: var(--dark-electric-blue);
    color: var(--borders);
    margin-left: 10px;
    transition: all ease 0.2s;
}

#sign {
    background: white;
    opacity: 5;
    color: var(--gunmetal);
    border: 2px solid var(--dark-electric-blue);
}

#sign:hover {
    background: #253347;
    color: var(--white);
}

nav .ex a:hover {
    background: var(--gunmetal);
}

main {
    padding: 8% 10%;
}

.slider {
    width: 100%;
    height: 80vh;
}

.slider .slides {
    width: 100%;
    height: 80vh;
    background: var(--dark-electric-blue);
    display: flex;
}

.slider .slides img {
    object-fit: cover;
    width: 25%;
    height: 50vh;
    transform: scale(1.1);
    margin-left: 5%;
    z-index: 1;
}

.slider .slides .descri {
    margin-left: 5%;
    text-align: justify;
    display: block;
    justify-content: space-between;
    padding: 20px;
}

.slider .slides .descri h3 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10%;

}

.slider .slides .descri p {
    font-size: 22px;
    font-weight: 500;
    text-align: justify;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-right: 10%;
}

.slider .slides .descri button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: 0;
    background: var(--gunmetal);
    font-size: 20px;
    font-weight: 600;
    margin-top: 15%;
    margin-left: 5%;
    color: var(--white);
}

.slider .slides .descri button:hover {
    background: transparent;
    border: 1.5px solid var(--white);
}

.slider .slides .slide-nav {
    position: absolute;
    border: 0;
    background: transparent;
    outline: 0;
    display: flex;
    width: 80%;
    margin-top: 33%;
    justify-content: space-between;
}

.slider .slides .slide-nav button {
    border: 0;
    background: transparent;
    font-size: 40px;
    font-weight: 800;
    color: black;
    height: 5vh;
    padding: 15px;
}

footer {
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

footer .footer-content {
    display: flex;
    margin-left: 10%;
}

footer .footer-content ul {
    display: block;
    margin-left: 15%;
}

footer .footer-content ul li {
    color: var(--gunmetal);
    font-size: 25px;
    list-style: none;
    font-weight: 400;
    margin-top: 5%;
}

footer .footer-content ul li:hover {
    text-decoration: underline;
}

footer .footer-content .intro {
    color: var(--gunmetal);
    width: 50vh;
}

footer .footer-content .intro h3 {
    font-size: 25px;
    padding: 10px;
    font-weight: 600;
    transition: all ease 0.2s;
}

footer .footer-content .intro p {
    text-align: justify;
    color: var(--gunmetal);
    font-size: 20px;
    margin-top: 25px;
    line-height: 25px;
}

#author {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 55px;
    font-weight: 800;
    color: var(--gunmetal);
    letter-spacing: 2px;
    transition: all ease 0.5s;
}

#author:hover,
footer .footer-content .intro h3:hover {
    transform: translate(0, -20%);
}

/* Section's Design  */
section {
    width: 100%;
    padding: 15px;
    margin-bottom: 10%;
    background: #f7f9fa;
}

section h3 {
    color: var(--gunmetal);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5s;
    text-align: center;
    margin-top: 5%;
}

section .images {
    display: flex;
    margin-top: 5%;
    margin-bottom: 8%;
}

section .images img {
    margin-left: 8%;
}

section h1 {
    text-align: center;
    color: var(--gunmetal);
    font-size: 35px;
    font-weight: 800;
    margin-top: 2%;
    margin-bottom: 0;
}

section .co-headtitle {
    width: 100%;
    padding: 10px;
}

section .co-headtitle h3 {
    color: var(--gunmetal);
    font-size: 30px;
    font-weight: 600;
    padding: 5px;
    text-align: left;
}

section .co-content {
    padding: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 5rem;
}



section .co-content .co-card {
    width: 400px;
    padding: 20px;
    background: var(--borders);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all ease 0.5s;
}

section .co-content .co-card:hover {
    transform: translate(0%, -3%);
}

section .co-content .co-card img {
    object-fit: cover;
    width: 360px;
}

section .co-content .co-card p {
    margin-top: 10%;
    color: var(--gunmetal);
}

#co-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2%;
    text-align: center;
}

#co-author {
    color: #253347;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
}

#co-author img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5%;
    margin-left: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#co-review {
    font-size: 18px;
    font-weight: 500px;
}

section .co-content .co-addcart {
    display: flex;
    justify-content: space-between;
}

#co-purchase {
    font-size: 25px;
    font-weight: 800;
}

#cartbtn {
    background: transparent;
    color: var(--gunmetal);
    border: 1px solid var(--gunmetal);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
    transition: all ease 0.5s;
}

#cartbtn:hover {
    background: var(--gunmetal);
    color: var(--white);
}

/* Our students */

section .std-wrapper {
    padding: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 2rem;
}

section .std-wrapper .std-card {
    width: 450px;
    padding: 20px;
    background: var(--borders);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all ease 0.5s;
}

section .std-wrapper .std-card:nth-child(2),
.std-card:nth-child(5),
.std-card:nth-child(8),
.std-card:nth-child(11) {
    transform: translate(0%, -6%);
}

section .std-wrapper .std-card .top {
    display: flex;
}

#user-picture {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

section .std-wrapper .std-card .top .com-intro {
    margin-left: 10%;
    margin-top: 2.8%;
}

section .std-card .top .com-intro p {
    color: var(--gunmetal);
    font-size: 25px;
    font-weight: 800;
}

#companies-logo {
    width: 180px;
    height: 100px;
}

section .std-card .std-intro {
    padding: 10px;
}

section .std-card .std-intro p {
    color: var(--gunmetal);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 2%;
}

section button {
    background: var(--gunmetal);
    border: none;
    width: 200px;
    border-radius: 5px;
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    display: flex;
    margin-left: 43%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: all ease 0.2s;

}

section button:hover {
    background: transparent;
    border: 2px solid var(--borders);
    color: var(--gunmetal);
}

/* Founder Section's */
.co-founder img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: 43%;
    margin-top: 5%;
}

.co-founder h3 {
    margin-top: 10px;
    padding: 0;
    font-style: oblique;
    font-weight: 600;
}

.co-founder .skills {
    display: flex;
    justify-content: space-around;
}

.co-founder .skills .sk-card {
    padding: 15px;
    margin-bottom: 2%;
    margin-top: 5%;
}

.co-founder .skills .sk-card p {
    font-size: 20px;
    font-weight: 400;
}

.co-founder .skills .sk-card h2 {
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    color: var(--gunmetal);
}

.co-founder .skills .sk-card h1,
p,
ul li {
    color: var(--gunmetal);
}

.co-founder .skills .sk-card ul li {
    list-style: none;
    font-size: 18px;
    line-height: 25px;
}

/* Payment Content Design */
.co-pay-container {
    width: 100%;
    padding: 10% 5%;
}

.co-pay-container .pay-content {
    display: flex;
    justify-content: space-between;
}

.co-pay-container .pay-content .left {
    width: 50%;
    display: block;
    padding: 5%;
}

.co-pay-container .pay-content .left h1 {
    font-size: 50px;
    font-weight: 800;
    margin-top: 2%;
    margin-bottom: 3%;
    color: var(--blue);
}

.co-pay-container .pay-content .left h3 {
    font-size: 40px;
    color: var(--gunmetal);
    margin-bottom: 2%;
}

.co-pay-container .pay-content .left p {
    font-size: 30px;
    margin-bottom: 2%;
}

.co-pay-container .pay-content .right {
    margin-right: 5%;
    padding: 20px;
}

.co-pay-container .pay-content .right h3 {
    color: var(--gunmetal);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.co-pay-container .pay-content .right form {
    border: 2px solid var(--gunmetal);
    padding: 25px;
}

.co-pay-container .pay-content .right .pay-value {
    width: 430px;
    border: 1px solid var(--gunmetal);
    font-size: 20px;
    padding: 10px;
}

.co-pay-container .pay-content .right form input {
    padding: 10px;
    margin-top: 2%;
    width: 430px;
    display: block;
}

.co-pay-container .pay-content .right form button {
    padding: 15px;
    width: 430px;
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    background: var(--gunmetal);
    border: none;
    border-radius: 5px;
    margin-top: 2%;
}

.pay-process {
    padding: 8% 10%;
    display: block;
}

.pay-process .pay-btn {
    display: flex;
}

.pay-process .pay-btn button {
    margin-left: 23%;
}

.pay-process .process-box {
    width: 250px;
    margin-left: 39%;
    height: 250px;
    border-radius: 50%;
    border: 20px solid var(--borders);
    border-top-color: var(--blue);
    animation: loader 1s infinite;
    background: transparent;
}

.pay-process .cancel-payment-box {
    width: 250px;
    margin-left: 39%;
    height: 250px;
    border: 20px solid var(--borders);
    border-left-color: red;
    border-right-color: red;
    border-top: none;
    border-bottom: none;
    background: transparent;
}

@keyframes loader {
    to {
        top: 0;
    }

    from {
        transform: rotate(360deg);
    }
}

.pay-process h1 {
    font-size: 55px;
}

@media (max-width: 460px) {}

@media (max-width: 400px) {
    nav {
        display: block;
    }

    nav .logo {
        margin-left: 0;
    }

    nav .logo h1 {
        text-align: center;
    }

    nav ul {
        color: rgb(70, 70, 70);
        display: flex;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    nav .ex {
        margin-right: 0%;
        display: flex;
        justify-content: space-between;
    }

    nav .ex a {
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        text-align: center;
        font-family: serif;
        font-weight: 400;
        text-decoration: none;
        background-color: var(--dark-electric-blue);
        color: var(--borders);
        margin-left: 10px;
        transition: all ease 0.2s;
    }

    main {
        padding: 60% 10%;
    }

    .slider {
        width: 100%;
        height: 80vh;
    }

    .slider .slides {
        width: 100%;
        height: 100vh;
        background: var(--dark-electric-blue);
        display: block;
        margin-top: 10%;
    }

    .slider .slides img {
        object-fit: cover;
        object-position: center;
        width: 50%;
        height: 20vh;
        transform: scale(1.5);
        margin-left: 25%;
        z-index: 1;
        opacity: 2;
        background-image: cross-fade(11.2px);
    }

    .slider .slides .descri {
        margin-left: 5%;
        text-align: justify;
        display: block;
        justify-content: space-between;
        padding: 20px;
    }

    .slider .slides .descri h3 {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10%;
        margin-top: 10%;

    }

    .slider .slides .descri p {
        font-size: 18px;
        font-weight: normal;
        text-align: justify;
        letter-spacing: normal;
        line-height: normal;
        margin-right: 2%;
    }

    .slider .slides .descri button {
        padding: 10px;
        border-radius: 10px;
        border: none;
        outline: 0;
        background: var(--gunmetal);
        font-size: 15px;
        font-weight: 600;
        margin-top: 20%;
        margin-left: 5%;
        color: var(--white);
    }

    footer {
        width: 100%;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    footer .footer-content {
        display: inline-block;
        margin-left: 2%;
    }

    footer .footer-content ul {
        display: block;
        margin-left: 15%;
        margin-top: 20%;
    }

    footer .footer-content ul li {
        color: var(--gunmetal);
        font-size: 25px;
        list-style: none;
        font-weight: 400;
        margin-top: 5%;
    }

    footer .footer-content ul li:hover {
        text-decoration: underline;
    }

    footer .footer-content .intro {
        color: var(--gunmetal);
        width: 50vh;
        overflow: auto;
    }

    footer .footer-content .intro h3 {
        font-size: 25px;
        padding: 10px;
        font-weight: 600;
        transition: all ease 0.2s;
    }

    footer .footer-content .intro p {
        text-align: justify;
        color: var(--gunmetal);
        font-size: 20px;
        margin-top: 25px;
        line-height: 25px;
    }

    #author {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 25px;
        font-size: 55px;
        font-weight: 800;
        color: var(--gunmetal);
        letter-spacing: 2px;
        transition: all ease 0.5s;
    }

    #author:hover,
    footer .footer-content .intro h3:hover {
        transform: translate(0, -20%);
    }

    /* Section's Design  */
    section {
        width: 100%;
        padding: 15px;
        margin-bottom: 10%;
        background: #f7f9fa;
        height: 50vh;
    }

    .companies {
        overflow: auto;

    }

    section h3 {
        color: var(--gunmetal);
        font-size: 20px;
        font-weight: 400;
        letter-spacing: normal;
        list-style: 2px;
        text-align: center;
    }

    section .images {
        display: inline-block;
        margin-top: 5%;
        margin-left: 38%;
        justify-content: center;
        align-content: center;
    }

    section .images img {
        display: flex;
        margin-top: 25%;
        width: 80%;

    }
}
